@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .topSearch{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  .npmLogo {
    width: 150px;
    margin-right: 2 rem;
  }

  .searchForm{
    display: flex;
  }

  .searchForm>input{
    padding: 1rem;
    border: none;
  }

  input[type=submit]{
    background-color: #fb3e44;
    color: white;
  }

  #package-name{
    background-color: rgba(0,0,0,0.05);
    width: 350px;
  }

.loginLinks{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.loginLinks>a{
    color: rgba(0,0,0,.8);
    padding: 0.4rem 1rem;
}

.loginLinks__join{
    border: 1px solid rgba(0,0,0, .7);
}

.section-amazing{
  text-align: center;
  background-color: rgba(0,0,0,.05);
  padding: 30px;
}

.section-amazing__title{
  font-size: 5rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom:1rem;
}

.section-amazing__description{
  width: 40%;
  margin: 0 auto;
}

.section-amazing__links{
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  margin-top: 1rem;
}